      <article class="question">
          <div class="questioncontent">
          <p class="questiontext">
            {{text}}
          </p>
          <p class="questionauthor">
            {{author}}
          </p>
	    <button type="button" class="windowanswer">Answer</button>

		<article class="tag">
		<div class="tagcontent">
		<p class="tagtext">
			{{tags}}
		</p>
		</div>
		</article>
			
      </article>

	</div>