      <article class="question">
          <div class="questioncontent">
          <p class="questiontext">
            {{text}}
          </p>
          <p class="questionauthor">
            {{username}}
          </p>
	    <button type="button" class="windowanswer" data-question-id="{{_id}}">Answer</button>

		<br></br>
		<div class="tagcontent">
			<span>Tags:</span>
			<span class="taglist">
				{{#each tags}}
					{{#if this}}
					<span class="tag">
						{{this}}
					</span>
					{{/if}}
				{{/each}}
			</span>
		</div>
			
      </article>

	</div>