<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pizza</title>
    <link rel="stylesheet" href="style.css" media="screen">
    <script src="index.js" charset="utf-8" defer></script>
	
	
	<!-- Required to use authentication functions -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="/clientauth.js" charset="utf-8"></script>
	
  </head>

  <body>

    <header>
      <h1 class="title">Pizza</h1>

      <nav class="menubar">
        <ul class="menulist">
		<li class="menuitemyeslogin hidden">
			<p>Logged in as </p>
			<p>{{client}}</p>
		</li>
          <li class="menuitemyeslogin hidden"><button type="button" class="askbutton">Ask A Question</button></li>
          <li class="menuitemnologin"><button type="button" class="loginbutton">Login</button></li>
          <li class="menuitemnologin"><button type="button" class="createbutton">Create Account</button></li>
          <li class="menusearch">
            <input type="text" id="menusearchtext" placeholder="Search Questions...">
            <button type="button" id="menusearchbutton"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
    </header>

{{{body}}}
</body>
</html>
