<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pizza</title>
    <link rel="stylesheet" href="/style.css" media="screen">
    <script src="/index.js" charset="utf-8" defer></script>


	<!-- Required to use authentication functions -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="/clientauth.js" charset="utf-8"></script>

  </head>

  <body>

    <header>
      <h1 class="title" onclick="goToHomepage()">Pizza</h1>

      <nav class="menubar">
        <ul class="menulist">
		<li class="menuitemyeslogin hidden">
		<br></br>
		<div class="whoami" id="whoami">
		Not logged in
		</div>
		<br></br>
		</li>
          <li class="menuitemyeslogin hidden"><button type="button" class="askbutton">Ask A Question</button></li>
          <li class="menuitemyeslogin hidden"><button type="button" class="logoutbutton">Logout</button></li>
          <li class="menuitemnologin"><button type="button" class="loginbutton">Login</button></li>
          <li class="menuitemnologin"><button type="button" class="createbutton">Create Account</button></li>
          <li class="menusearch">
            <input type="text" id="menusearchtext" placeholder="Search Questions...">
          </li>
        </ul>
      </nav>
    </header>

	{{{body}}}
	
      <div id="windowbg" class="hidden"></div>

      <div id="windowmain" class="hidden">
        <div class="windowdialog">

          <div class="windowhead">
            <h3>Ask A Question</h3>
          </div>
          <div class="windowtext">
		    <div class="windowinputelement">
              <label for="newquestiontitle">Title</label>
              <textarea id="newquestiontitle"></textarea>
            </div>
            <div class="windowinputelement">
              <label for="windowtext">Question</label>
              <textarea id="windowtext"></textarea>
            </div>
			<div class="windowinputelement">
              <label for="windowtags">Tags</label>
              <textarea id="windowtags"></textarea>
            </div>
          </div>
          <div class="windowfoot">
            <button type="button" class="windowcancel">Cancel</button>
            <button type="button" class="windowsubmit">Submit</button>
          </div>
        </div>
      </div>

      <div id="createwindowmain" class="hidden">
        <div class="windowdialog">
          <div class="windowhead">
            <h3>Create Account</h3>
          </div>
          <div class="windowtext">
            <div class="windowinputelement">
              <label for="createwindowusername">Username</label>
              <textarea id="createwindowusername"></textarea>
            </div>
            <div class="windowinputelement">
              <label for="createwindowpassword">Password</label>
              <input type="password" id="createwindowpassword">
            </div>
          </div>
          <div class="windowfoot">
            <button type="button" class="createwindowcancel">Cancel</button>
            <button type="button" class="createwindowsubmit">Submit</button>
          </div>
        </div>
      </div>

      <div id="loginwindowmain" class="loginwindowmain hidden">
        <div class="windowdialog">
          <div class="windowhead">
            <h3>Login</h3>
          </div>
          <div class="windowtext">
            <div class="windowinputelement">
              <label for="loginwindowusername">Username</label>
              <textarea id="loginwindowusername"></textarea>
            </div>
            <div class="windowinputelement">
              <label for="loginwindowpassword">Password</label>
              <input type="password" id="loginwindowpassword">
            </div>
          </div>
          <div class="windowfoot">
            <button type="button" class="loginwindowcancel">Cancel</button>
            <button type="button" class="loginwindowsubmit">Submit</button>
          </div>
        </div>
	  </div>

      <div id="answerwindowmain" class="hidden">
        <div class="windowdialog">
          <div class="windowhead">
            <h3>Login</h3>
          </div>
          <div class="windowtext">
            <div class="windowinputelement">
              <label for="answerwindowtext">Reply</label>
              <textarea id="answerwindowtext"></textarea>
            </div>
          </div>
          <div class="windowfoot">
            <button type="button" class="answerwindowcancel">Cancel</button>
            <button type="button" class="answerwindowsubmit">Submit</button>
          </div>
        </div>

    </body>

</html>
