    <main class="questionbox">

      <article class="question">
          <div class="questioncontent">
          <p class="questiontext">
            Welcome to Pizza!
          </p>
          <p class="questionauthor">
            The Pizza Team
          </p>
	    <button type="button" class="windowanswer">Answer</button>
        </div>

		<article class="tag">
		<div class="tagcontent">
		<p class="tagtext">
			welcome
		</p>
		</div>
		</article>

		<article class="reply">
		<div class="replycontent">
		<p class="replytext">
			Login or create an account to start asking questions.
		</p>
		<p class="replyauthor">
			The Pizza Team
		</p>
		</div>
		</article>
			
      </article>

    </main>
    
      <div id="windowbg" class="hidden"></div>
      <div id="windowmain" class="hidden">
        <div class="windowdialog">
  
          <div class="windowhead">
            <h3>Ask A Question</h3>
          </div>
          <div class="windowtext">
            <div class="windowinputelement">
              <label for="windowtext">Question</label>
              <textarea id="windowtext"></textarea>
            </div>
          </div>
          <div class="windowfoot">
            <button type="button" class="windowcancel">Cancel</button>
            <button type="button" class="windowsubmit">Submit</button>
          </div>
        </div>
      </div>

      <div id="createwindowbg" class="hidden"></div>
      <div id="createwindowmain" class="hidden">
        <div class="windowdialog">
          <div class="windowhead">
            <h3>Create Account</h3>
          </div>
          <div class="windowtext">
            <div class="windowinputelement">
              <label for="createwindowusername">Username</label>
              <textarea id="createwindowusername"></textarea>
            </div>
            <div class="windowinputelement">
              <label for="createwindowpassword">Password</label>
              <input type="text" id="createwindowpassword">
            </div>
          </div>
          <div class="windowfoot">
            <button type="button" class="windowcancel">Cancel</button>
            <button type="button" class="windowsubmit">Submit</button>
          </div>
        </div>
      </div>

      <div id="loginwindowbg" class="hidden"></div>
      <div id="loginwindowmain" class="hidden">
        <div class="windowdialog">
          <div class="windowhead">
            <h3>Login</h3>
          </div>
          <div class="windowtext">
            <div class="windowinputelement">
              <label for="loginwindowusername">Username</label>
              <textarea id="loginwindowusername"></textarea>
            </div>
            <div class="windowinputelement">
              <label for="loginwindowpassword">Password</label>
              <input type="text" id="loginwindowpassword">
            </div>
          </div>
          <div class="windowfoot">
            <button type="button" class="windowcancel">Cancel</button>
            <button type="button" class="windowsubmit">Submit</button>
          </div>
        </div>
</div>
